doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Pengenalan Mobil Honda
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

        article

            section
                <img src="img/Mikroskil.jpg">
                h3 Pengenalan Mobil Honda
                h4 Anggota Kelompok
                ul
                    li Fandy 12.111.1141
                    li Thomas 12.111.1869
                    li Johny 12.111.2422
                h4 Dosen Pembimbing Hardy

            section
                h2 Tentang Honda
                h5 Honda adalah produsen mobil, truk, sepeda motor dan skuter asal Jepang. Mereka juga membuat kendaraan segala medan (ATV), generator listrik, mesin kelautan, dan peralatan taman. Honda didirikan pada 24 September 1948 oleh Soichiro Honda. Honda merupakan produsen sepeda motor terbesar di dunia sejak 1959, dan juga produsen mesin pembakaran dalam terbesar dengan produksi lebih dari 14 juta unit tiap tahun. Honda berhasil menggusur Nissan sebagai produsen mobil kedua terbesar di Jepang tahun 2001. Honda juga menggusur Chrysler, untuk menjadi pabrikan mobil terbesar keempat di pasar AS. Sekarang ini, Honda juga pabrikan mobil terbesar keenam di dunia.

            section
                h2 Honda Accord
                <img src="img/accord.jpg">

            section
                h2 Spesifikasi Honda Accord
                h3 Mesin
                ul
                    li Tipe : 4 Silinder Segaris, I-VTEC DOHC, 16 Katup
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 2.356 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.870
                    li Lebar (mm)   : 1.850
                    li Tinggi (mm)  : 1.465
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 225/50 R 17
                    li Belakang : 225/50 R 17

            section
                h2 Honda City
                <img src="img/city.jpg">
                    
            section
                h2 Spesifikasi Honda City
                h3 Mesin
                ul
                    li Tipe : 1.5LSOHC 4 silinder segaris, 16 katup i-VTEC + DBW
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.437 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.442
                    li Lebar (mm)   : 1.854
                    li Tinggi (mm)  : 1.477
                h3 Sistem Kemudi
                ul
                    li Tipe : Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 175/65 R 15
                    li Belakang : 175/65 R 15

            section
                h2 Honda Civic
                <img src="img/civic.jpg">

            section
                h2 Spesifikasi Honda Civic
                h3 Mesin
                ul
                    li Tipe : SOHC 4 Silinder Segaris 16 Katup i-VTEC 
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.798 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.540
                    li Lebar (mm)   : 1.755
                    li Tinggi (mm)  : 1.435
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion with Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 205/55 R 16
                    li Belakang : 205/55 R 16
            section
                h2 Spesifikasi Honda Brio
                h3 Mesin
                ul
                    li Tipe : 1.2L SOHC 4 Silinder Segaris 16 Katup i-VTEC + DBW
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.198 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 3.610
                    li Lebar (mm)   : 1.650
                    li Tinggi (mm)  : 1.485
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 175/65 R 14
                    li Belakang : 175/65 R 14
            section
                h2 Spesifikasi Honda CR-V
                h3 Mesin
                ul
                    li Tipe : i-VTEC 2.0L SOHC
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.997 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.566
                    li Lebar (mm)   : 1.820
                    li Tinggi (mm)  : 1.680
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 225/65 R 17
                    li Belakang : 225/65 R 17

            section
                h4 Honda Mobilio
                p Hot Sales
                <img src="img/Mobilio.jpg">

        // build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild