doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Pengenalan Mobil Honda
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

        article

            section
                <img src="img/Mikroskil.jpg">
                h3 Pengenalan Mobil Honda
                h4 Anggota Kelompok
                ul
                    li Fandy 12.111.1141
                    li Thomas 12.111.1869
                    li Johny 12.111.2422
                h4 Dosen Pembimbing Hardy

            section
                h2 Tentang Honda
                h4 Honda adalah produsen mobil, truk, sepeda motor dan skuter asal Jepang. Mereka juga membuat kendaraan segala medan (ATV), generator listrik, mesin kelautan, dan peralatan taman. Honda didirikan pada 24 September 1948 oleh Soichiro Honda. Honda merupakan produsen sepeda motor terbesar di dunia sejak 1959, dan juga produsen mesin pembakaran dalam terbesar dengan produksi lebih dari 14 juta unit tiap tahun. Honda berhasil menggusur Nissan sebagai produsen mobil kedua terbesar di Jepang tahun 2001. Honda juga menggusur Chrysler, untuk menjadi pabrikan mobil terbesar keempat di pasar AS. Sekarang ini, Honda juga pabrikan mobil terbesar keenam di dunia.

            section
                h2 Honda Accord
                <img src="img/accord.jpg">

            section
                h2 Spesifikasi Honda Accord
                h3 Mesin
                ul
                    li Tipe : 4 Silinder Segaris, I-VTEC DOHC, 16 Katup
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 2.356 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.870
                    li Lebar (mm)   : 1.850
                    li Tinggi (mm)  : 1.465
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 225/50 R 17
                    li Belakang : 225/50 R 17

            section
                h3 Kelebihan Honda Accord
                p.kecil Fitur kelengkapan yang memanjakan penumpang belakang seperti remote audio juga dimiliki mobil ini. Termasuk tombol pengatur posisi kursi penumpang depan di sandaran jok.

                p.kecil suspensi Accord sudah terasa cukup lembut. Ini disebabkan Honda mencoba tetap mempertahankan faktor fun to drive mobil ini sehingga mobil masih enak untuk bermanuver.

            section
                h2 Honda City
                <img src="img/city.jpg">
                    
            section
                h2 Spesifikasi Honda City
                h3 Mesin
                ul
                    li Tipe : 1.5LSOHC 4 silinder segaris, 16 katup i-VTEC + DBW
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.437 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.442
                    li Lebar (mm)   : 1.854
                    li Tinggi (mm)  : 1.477
                h3 Sistem Kemudi
                ul
                    li Tipe : Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 175/65 R 15
                    li Belakang : 175/65 R 15

            section
                h3 Kelebihan Honda City
                p.kecil Kini Honda All New City sudah dibekali dengan mesin yang sama dengan Honda Jazz, yaitu dengan mesin 1.5 liter yang sudah berteknologi i-Vtec. Selain hemat bahan bakar, urusan tenaga juga tidak mengecewakan. 

                p.kecil Akselerasi yang ditawarkan tergolong lebih lembut dan hampir tidak terasa setiap perpindahan giginya. Limpahan tenaganya sudah didapatkan pada putaran bawah, maka tak heran jika pada jalur tanjakan Anda tidak akan kewalahan untuk mengemudi mobil Honda City ini.

            section
                h2 Honda Civic
                <img src="img/civic.jpg">

            section
                h2 Spesifikasi Honda Civic
                h3 Mesin
                ul
                    li Tipe : SOHC 4 Silinder Segaris 16 Katup i-VTEC 
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.798 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.540
                    li Lebar (mm)   : 1.755
                    li Tinggi (mm)  : 1.435
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion with Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 205/55 R 16
                    li Belakang : 205/55 R 16

            section
                h3 Kelebihan Honda Civic
                p 
                p.kecil All New Honda Civic 2.0 memakai mesin I-Vitec SOHC+BDW+DICT berkapasitas silinder 2000 cc, memakai 4 silinder segaris 16 valve. mesin civic ini mampu mengeluarkan daya maksimum (tenaga maksimum) sebesar 155 Ps pada putaran mesin 6500 Rpm dan torsi yang dihasilkan mobil ini 190 Nm pada 4300 Rpm, sedangkan All New Civic 1.8 L memiliki tenaga yang lebih kecil yakni 141 Ps di 6500 Rpm.
                p
                p.kecil Safety mobil ini bisa dibilang lumayan karena telah dibenamkan dual airbags pada pengemudi dan penumpang bagian depan. Desain rangka body mobil ini menggunakan teknologi G-Con + Ace yakni desain rangka yang dibuat untuk meredam benturan pada salah satu titik untuk dibuang ke bagian mobil yang lain

            section
                h2 Honda Brio
                <img src="img/brio.jpg">

            section
                h2 Spesifikasi Honda Brio
                h3 Mesin
                ul
                    li Tipe : 1.2L SOHC 4 Silinder Segaris 16 Katup i-VTEC + DBW
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.198 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 3.610
                    li Lebar (mm)   : 1.650
                    li Tinggi (mm)  : 1.485
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 175/65 R 14
                    li Belakang : 175/65 R 14

            section
                h3 Kelebihan Honda BRIO
                p
                p.kecil pada sisi kemudi yang relatif ringan dalam bermanuver, memiliki akselerasi yang bagus dengan handling yang stabil (tidak gampang loss drive), memiliki tenaga yang paling besar pada kelas hatchback 1300 cc. Mobil ini mudah dikendalikan karena memiliki desain eksterior yang kompak, tampil sporty dan kompak kare dilengkapi dengan Chrome front grille, pada bagian depan juga dilengkapi dengan lampu LED Hingh mount stop dan Rear reflektor. pada bagian samping terdiri dari pintu menggunakan door handle.

            section
                h2 Honda CR-V
                <img src="img/crv.jpg">

            section
                h2 Spesifikasi Honda CR-V
                h3 Mesin
                ul
                    li Tipe : i-VTEC 2.0L SOHC
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.997 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.566
                    li Lebar (mm)   : 1.820
                    li Tinggi (mm)  : 1.680
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 225/65 R 17
                    li Belakang : 225/65 R 17

            section
                h3 Kelebihan Honda CR-V
                p
                p.kecil Mesin 2.4 L DOHC i-VTEC yang dibenamkan di mobil mampu menghasilkan tenaga maksimum sebesar 190 PS pada putaran mesin 7.000 RPM. Mesin dipadukan dengan transmisi otomatis lima percepatan dan perpindahan gigi yang lebih halus.Setir lebih enteng serta posisi mengemudi ergonomis dengan jok elektrik
                p
                p.kecil Memiliki fitur ECON Mode, sebuah teknologi pintar untuk mengubah sistem pengendaraan yang memaksimalkan efisiensi bahan bakar hingga 20 persen --tergantung dari kondisi jalan maupun cara berkendara.

            section
                h2 Honda Jazz
                <img src="img/jazz.jpg">

             section
                h2 Spesifikasi Honda Jazz
                h3 Mesin
                ul
                    li Tipe : 1.5L 550HC, 4 Silinder segaris, 16 Katup i-VTEC + DBW + Torque Boost Resonator
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.497 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 3.900
                    li Lebar (mm)   : 1.650
                    li Tinggi (mm)  : 1.525
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Disc
                h3 Ban
                ul
                    li Depan    : 175/65 R 15
                    li Belakang : 175/65 R 15

            section
                h3 Kelebihan HONDA JAZZ
                p
                p Kelebihan Honda jazz 2013 adalah terdapat sentuhan pada headlamp pada bagian eksterior dan interior yang membuatnya semakin canggih dan modern. Telah dipasang emblem rp dan smoke head lamp pada grill dengan velg berukuran 16 inchi yang baru pada bagian bawah.Model stir yang mengadopsi formula 1 yang membuat anda semakin terlihat berani membawa mobil sporty ini. Bahan bakar tentunya lebih irit dari versi yang terdahulu. Mobil ini juga bisa dibilang mobil yang memiliki desain sporty dibanding dengan mobil lain sejenisnya.


            section
                h2 Honda Freed
                <img src="img/freed.jpg">

            section
                h2 Spesifikasi Honda Freed
                h3 Mesin
                ul
                    li Tipe : 1.5L 550HC, 4 Silinder segaris, 16 Katup i-VTEC + DBW + Torque Boost Resonator
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.497 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.215
                    li Lebar (mm)   : 1.700
                    li Tinggi (mm)  : 1.740
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 185/65 R 15
                    li Belakang : 185/65 R 15

            section
                h3 Kelebihan Honda Freed
                p
                p Kelebihannya yang pertama terletak pada performa mesinnya yang memiliki tenaga powerfull pada putaran atas, selain itu, manuver serta handling yang lincah pada mobil tersebut dapat dikatakan nyaman untuk sekelas familly car. Desain dashbor yang sudah terlihat modern serta headroom yang luas merupakan kelebihan lain dari mobil tersebut, Honda Freed tersebut juga memiliki kabin yang luas, sehingga akan membuat penumpangnya merasakan kenyamanan ketika berada di dalam mobil tersebut. Kelebihan lainnya yaitu sudah terdapat fitur AC Digital, power sliding doors, serta memiliki fitur safety yang terhitung lengkap di kelasnya.

            section
                h4 Honda Mobilio
                p Hot Sales
                <img src="img/Mobilio.jpg">

            section
                h3 Kelebihan HONDA MOBILIO
                p Kelebihan Honda Mobilio, memiliki desain eksterior yang lebih kuat dan tangguh dan dapat memuat 7 orang penumpang. Mesin bertenaga cukup besar dalam kategori mobil MPV, yakni mesin I-Vitec SOHC 1500cc yang mampu menghasilkan tenaga 118 PS. Terdapat fitur kenyamanan dan entertaiment yakni sistem Audio, AC Double Blower, dan Dual Airbags. Honda Mobilio juga memiliki akselerasi yang cukup kuat dengan tertanamnya penggerak roda depan dan harganya tergolong mobil murah

            section
                h3 Spesifikasi Honda Mobilio
                h3 Mesin
                ul
                    li Tipe : 1.5L SDHC 4 silinder segaris, 16 katup i-VTEC + DBW
                    li Sistem Suplai Bahan Bakar : PGM-FI
                    li Isi Silinder : 1.498 cc
                h3 Dimensi / Ukuran
                ul
                    li Panjang (mm) : 4.386
                    li Lebar (mm)   : 1.683
                    li Tinggi (mm)  : 1.603
                h3 Sistem Kemudi
                ul
                    li Tipe : Rack & Pinion + Electric Power Steering
                h3 Sistem Rem
                ul
                    li Depan    : Ventilated Disc
                    li Belakang : Drum
                h3 Ban
                ul
                    li Depan    : 185/65 R 15
                    li Belakang : 185/65 R 15

            section
                h3 Harga Mobil Bulan Juni 2014
                table
                    tr
                        td Tipe Mobil
                        td   Harga Mobil(Rp)
                    tr
                        td Accord VTi 2.4 A/T
                        td 520.000.000
                    tr
                        td Accord VTi-L 2.4 A/T
                        td 570.000.000
                    tr
                        td Brio E A/T
                        td 146.000.000
                    tr
                        td Brio S A/T
                        td 141.000.000
                    tr
                        td City S A/T
                        td 284.000.000
                    tr 
                        td City S M/T
                        td 269.000.000

                    tr
                        td New CR-V 2.0 L A/T
                        td 361.500.000

                    tr
                        td New CR-V 2.0 L M/T
                        td 350.500.000

                    tr
                        td New CR-V 2.4 L A/T
                        td 390.500.000

                    tr
                        td All new Civic 1.8 L A/T
                        td 355.000.000

                    tr
                        td All new Civic 1.8 L M/T
                        td 342.000.000

                    tr
                        td New Freed A 1.5 A/T
                        td 211.000.000

                    tr
                        td New Freed E 1.5 A/T
                        td 262.000.000
            section
                h3 Kelebihan Mobil Honda
                h3 6 Fitur Honda
                ul
                    li 1. Sebuah mesin bensin yang mampu memaksimalkan kinerjanya dan disamping itu dapat mencapai tingkat efisiensi bahan bakar yang tinggi. Dengan mengangkat teknologi mesin orisinal Honda yanitu VTEC, dimana mein bensin yang ditawarkan oleh Honda; 660 cc, 1.3 L, 1.5 L, 1.8 L, 2.0 L, 2.4 l, & 3.5 L.mampu memberikan tingkat bahan bakar yang lebih baik sebsar 10-15 % dibandingkan model sebelumnya.Sebuah mesin bensin yang mampu memaksimalkan kinerjanya dan disamping itu dapat mencapai tingkat efisiensi bahan bakar yang tinggi. Dengan mengangkat teknologi mesin orisinal Honda yanitu VTEC, dimana mein bensin yang ditawarkan oleh Honda; 660 cc, 1.3 L, 1.5 L, 1.8 L, 2.0 L, 2.4 l, & 3.5 L.mampu memberikan tingkat bahan bakar yang lebih baik sebsar 10-15 % dibandingkan model sebelumnya.
            section
                ul
                    li 2. Sebuah mesin diesel yang berbentuk lebih kompak dan mempunyai bobot paling ringan di dunia, dan disertai akselerasi kinerjanya serta efisiensi bahan bakar yang lebih baik. Honda memperkenalkan varian mesin baru untuk mesin diesel nya yaitu 1.6 L disamping mesin diesel 2.2 L nya yang telah ada sebelumnya. Tingkat bahan bakarnya mampu mengurangi kadar Co2 sebesar 15%.
                ul
                    li 3. CVT (Continuously Variable Transmission) yang menggabungkan tingkat kesenangan dalam mengemudi yang tinggi disertai efisiensi bahan bakarnya juga. Desain baru teknologi CVT ini diklaim oleh Honda mampu menghemat tingkat bahan bakar sebesar 5-10%.
             section
                ul
                    li 4. Sistem dua motor (hybrid) yang lebih baik lagi Tenaga baterai lithium-ion baru ini mampu memberikan daya sebesar 120 kW yang didesain khusus untuk mobil plug-in hybrid dan listrik (EV).
                ul
                    li 5. Sebuah efisiensi yang tinggi dari tenaga listrik SH-AWD yang menggabungkan antara pengendalian system kemudi yang lebih unggul dan juga kinerjanya terhadap lingkungan. Efisiensi ini ditujukan kepada mobil bermesin besar dengan menggabungkan mesin 3.5 L V6 dengan sistem hybrid dimana akselerasi mesinnya setara dengan mesin V8.
                    
            section                
                h1 TERIMA KASIH



                    


                    


        // build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild